services:
  ha:
    image: ghcr.io/home-assistant/home-assistant:stable
    container_name: home-assistant
    hostname: home-assistant
    dns:
      - 192.168.1.11
      - 192.168.1.22
    volumes:
      - $DOCKERDIR/appdata/home-assistant/config:/config
      - /run/dbus:/run/dbus:ro
    restart: unless-stopped
    privileged: true
    networks:
      - traefik-public
      - macvlan_ha_ipv4
    environment:
      - PGID=${PGID}
      - PUID=${PUID}
      - S6_BEHAVIOUR_IF_STAGE2_FAILS=2
      - S6_CMD_WAIT_FOR_SERVICES_MAXTIME=0
      - S6_CMD_WAIT_FOR_SERVICES=1
      - S6_SERVICES_READYTIME=50
      - UV_EXTRA_INDEX_URL=https://wheels.home-assistant.io/musllinux-index/
      - S6_SERVICES_GRACETIME=240000
      - UV_SYSTEM_PYTHON=true
      - UV_NO_CACHE=true
    deploy:
      mode: replicated 
      replicas: 1
      labels:
        - traefik.enable=true
        - traefik.http.routers.ha.rule=Host(`ha.$DOMAIN`)
        - traefik.http.routers.ha.service=ha
        - traefik.http.routers.ha.middlewares=authentik@file
        - traefik.http.services.ha.loadbalancer.server.port=8123

        - traefik.http.routers.ha-insecure.entrypoints=web
        - traefik.http.routers.ha-insecure.tls=false
        - traefik.http.routers.ha-insecure.rule=Host(`home-assistant`)
        - traefik.http.routers.ha-insecure.service=ha-insecure
        - traefik.http.services.ha-insecure.loadbalancer.server.port=8123

  esphome:
    image: ghcr.io/esphome/esphome
    container_name: esphome
    volumes:
      - $DOCKERDIR/appdata/esphome/config:/config
    networks:
      - traefik-public
    deploy:
      mode: replicated 
      replicas: 1
      labels:
        - traefik.enable=true
        - traefik.http.routers.esphome.rule=Host(`esphome.$DOMAIN`)
        - traefik.http.routers.esphome.service=esphome
        - traefik.http.routers.esphome.middlewares=authentik@file
        - traefik.http.services.esphome.loadbalancer.server.port=6052

  eufy-security-ws:
    container_name: eufy-security-ws
    image: bropat/eufy-security-ws:latest
    volumes:
      - $DOCKERDIR/appdata/eufy-security-ws/config:/config
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - USERNAME=${EUFY_USERNAME}
      - PASSWORD=${EUFY_PASSWORD}
      - PORT=3003
    ports:
      - 3003:3003
    networks:
      - traefik-public
    deploy:
      mode: replicated 
      replicas: 1
      placement:
        constraints:
          - "node.role == worker"

networks:
  traefik-public:
    external: true
  macvlan_ha_ipv4:
    external: true